name: roastcalc
description: "Do math, get roasted"
publish_to: 'none'
version: 0.3.2

environment:
  sdk: ^3.10.7

dependencies:
  flutter:
    sdk: flutter
  url_launcher: ^6.3.2

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^6.0.0

flutter:
  uses-material-design: true

  fonts:
    - family: JetBrainsMono
      fonts:
        - asset: lib/assets/JetBrainsMono.ttf
